#todo-error{
  color: red;
  font-size: 2em;
}


.quote {
  background-color: rgba(0, 0, 0, 0.788);
  border-radius: 10px;
}

.quote-text {
  font-family: Cambria;
  font-size: xx-large;
}

.weather-text {
  font-size: 1.5rem;
}